.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
}

.footer .footer-section p {
  opacity: 0.9;
  margin-bottom: 0.5em;
}

.footer .footer-section p.title {
  opacity: 1;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-top: 0.3em;
}

.social-icons a {
  color: #fff;
  font-size: 1.2em;
  transition: 0.3s;
}

/* Brand Hover Colors */
.social-icons a:nth-child(1):hover {
  color: #1877F2; /* Facebook Blue */
}
.social-icons a:nth-child(2):hover {
  color: #000000; /* X/Twitter Black */
}
.social-icons a:nth-child(3):hover {
  color: #E1306C; /* Instagram Pink */
}

/* Responsive: Below 600px */
@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .footer-section p {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Responsive: Below 360px */
@media screen and (max-width: 360px) {
  .footer {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .footer .footer-section p {
    font-size: 0.9em;
    line-height: 1.4em;
  }

  .footer .footer-section p.title {
    font-size: 1.1em;
    margin-bottom: 0.8em;
  }
}
