.section.hero{
    // gap: 3vw;
    .typography{
        padding-right: 1em;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1.75vw ;
        .custom-image{
            border-radius: 3px;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            animation: getAnimationDuration(.5s) popOut forwards;
            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(6){
                animation-delay: .3s;
            }
            &:nth-child(9){
                animation-delay: .4s;
            }
            &:nth-child(8){
                animation-delay: .5s;
            }
            &:nth-child(7){
                animation-delay: .6s;
            }
            &:nth-child(4){
                animation-delay: .7s;
            }
            &:nth-child(5){
                animation-delay: .8s;
            }
        }
    }
}


/* Common mobile layout for Hero & Improve Skills */
@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;        /* Stack columns */
    text-align: center;            /* Center text */
    align-items: center;           /* Center content */
    gap: 1.8em;                    /* Space between items */
  }

  .section .col {
    width: 100%;
    padding: 0;                    /* Remove extra padding */
  }

  .section .col.img img {
    width: 100%;
    max-width: 320px;              /* Helps avoid giant images */
    margin: 0 auto;
    display: block;
  }

  .section .col.typography {
    padding-left: 0 !important;    /* Remove left spacing */
  }

  .section .btn {
    margin-top: 1.5em;
  }
}
