:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: rgb(7, 7, 7);
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

/* Prevent ANY horizontal scrolling */
html, body {
  overflow-x: hidden !important;
}


@function getAnimationDuration($duration: number){
   @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    font-size:var(--font-size);
    font-family: 'Roboto',sans-serif;
    padding-top:55px ;
}

a{
    text-decoration: none;

}

img{
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em .1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}


.custom-image{
    
    height: 0;
    width: 100%;
    position: relative;
    img{
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

@import "partials/navbar.scss";

.section{
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block{
        display: block;
    }
    .title{
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom:.25em ;
        font-weight: 900;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
        // width: 500px;
    }
    .col{
        width: 50%;
    }
}

@import "partials/hero-section.scss";
@import "partials/improveskills.scss";
@import "partials/quotesection.scss";
@import "partials/previoussearches.scss";
@import "partials/favorites.scss";
@import "partials/cuisine.scss";



@import "partials/footer.scss";



.main{
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.container{
  padding-left: 8vw;
  padding-right: 8vw;
}


@import "partials/animations.scss";

@media  screen and (max-width:1280px){
.container{
     padding-left: 6vw;
     padding-right: 6vw;
}
}

@media  screen and (max-width:1050px){
.container{
     padding-left: 5vw;
     padding-right: 5vw;
}
}

@media  screen and (max-width:768px) {
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .chef-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
     padding-left: 4vw;
     padding-right: 4vw;
    }
}


@media  screen and (max-width:480px){
.container{
     padding-left: 3vw;
     padding-right: 3vw;
}
}

@media screen and (max-width:360px){
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .hero .col.typography {
    width: 100%;
  }

  .hero .col.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 per row */
    gap: 6px;
  }

  .hero .title{
    margin-top: 1em;
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .hero .info{
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .btn{
    width: 100%;
    padding: 0.7rem 0;
    font-size: 0.95rem;
  }
}
